.BaminTop{
    height: 2rem;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    position: fixed;
    top: 0px;
    z-index: 999;
    box-shadow: 0px 0.5px #dddddd;

    .addressText{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        svg{
            padding-left: 5px;
            color: #2ac1bc;
        }
    }

    .addressText:hover{
        color: #BDBDBD;
    }

    svg{
        font-size: 20px;
    }
}