.BaminRecommendList{
    width: 100%;

    &.recommend_flex{
        overflow: hidden;
    }
    
    .recommendText{
        font-size: 18px;
    }
    .recommendTag{
        color:#2ac1bc;
        font-weight: 600;
    }

    .BaminRecommendList_sub{
        &.recommend_flex{
            height: 255px;
            display: flex;
            overflow-x: scroll;
            -ms-overflow-style: none; // IE에서 스크롤바 감춤
            &::-webkit-scrollbar { 
                display: none !important; // 윈도우 크롬 등
            }    
        }

        .plusBtn_flex{
            margin-top: 75px;
            padding: 20px;
            color: #B4B5B8;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            svg{
                transition: ease 0.2s;
                font-size: 35px;
            }
        }

        .plusBtn_block{
            text-align: center;
            border: 1px solid #B4B5B8;
            width: 100px;
            padding: 6px;
            border-radius: 15px;
            font-size: 14px;
            color: rgb(95, 95, 95);
            margin: 0 auto;
        }

        .plusBtn_block:hover{
            color:#B4B5B8;
        }
    }
}