.BaminBrand{
    position: relative;
    top: 3.2rem;
    background: white;
    box-shadow: 0px 0.1px;

    .title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 15px 12px;
        
        .lbl_name{
            font-size: 15px;
            font-weight: 600;
        }
        .lbl_full{
            font-size: 11px;
        }
    }

    .brandlist{
        width: auto;
        overflow: scroll;
        -ms-overflow-style: none; // IE에서 스크롤바 감춤
        &::-webkit-scrollbar { 
            display: none !important; // 윈도우 크롬 등
        }
        .brandlist_items{
            display: inline-flex;
            padding: 0 6px;
        }
    }
}