.BaminNotice{
    display: flex;
}

.noticePage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 0px;

    .noticeIndex{
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 13px;
        margin-right: 10px;
    }

    .noticeNextPage{
        background: white;
        padding:5px 10px;
        border-radius: 15px 0 0 15px;
        font-size: 12px;
        opacity: 0.8;
        font-weight: 500;
    }
}